@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');

    :root{
        --a:0;
    }
* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: black;
    color: white;
}

.close {
    display: none;
}

.left {
    width: 25vw;
    padding: 10px;
}

.right {
    width: 75vw;
    margin: 16px 0;
}



.home ul li {
    width: 14px;
    list-style: none;
    display: flex;
    gap: 15px;
    padding-top: 14px;
    font-weight: bold;
}

.heading {
    display: flex;
    gap: 15px;
    width: 100%;
    padding: 23px 14px;
    font-weight: bold;
    font-size: 14px;
    align-items: center;
}

.heading img {
    width: 30px;
}

.bg-black {
    background-color: black;
    color: white;
}

.invert {
    filter: invert(1);
}

.bg-grey {
    /* background-color: #242424; */
    background-color: #121113;
}

/* 36:11 */
.library {
    min-height: 75vh;
    /* change min height later as 80  */
    /* //to overcome issue of overflow */
    word-wrap: break-word;
    position: relative;
}

.footer {
    display: flex;
    gap: 8px;
    font-size: 8px;
    color: grey;
    position: absolute;
    bottom: 0;
    padding: 10px 0;
}

.footer a {
    color: grey;
}

.right {
    margin: 16px 0;
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #212122;
}

.header>* {
    padding: 20px;
}

.spotifyPlaylists {
    padding: 16px;
}

.spotifyPlaylists h1 {
    padding: 16px;

}

.cardContainer {
    margin: 30px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    max-height: 70vh;
    overflow-y: auto;

}

.card {
    /* width harry se alg hai ye usne 200px di h */
    /* *width is different from the one given by harry i.e.200px */
    width: 150px;
    padding: 10px;
    border-radius: 5px;
    background-color: #212122;
    position: relative;
    transition: all 0.8s;
}
.card:hover{
background-color: rgb(59, 57, 57);
cursor: pointer;
--a:1;
}

.card>* {
    padding-top: 10px;
}

.card img {
    width: 100%;
    object-fit: contain;
}

.play {
    width: 28px;
    /* Adjust size as needed */
    height: 28px;
    /* Adjust size as needed */
    border-radius: 50%;
    background-color: green;
    display: flex;
    padding: 4px;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 170px;
    right: 17px;
    /* hover karna hai badme play button ko*/
    opacity: var(--a);
    transition: all 1s ease-out;
}

.buttons>* {
    margin: 0px 12px;
}

.signupbtn {
    background-color: #212122;
    color: rgb(173, 161, 161);
    font-weight: bold;
    font-size: 16px;
    border: none;
    outline: none;
    cursor: pointer;
}

.signupbtn:hover {
    font-size: 17px;
    color: white;

}

.loginbtn {
    background-color: white;
    border-radius: 21px;
    color: black;
    font-weight: bold;
    width: 79px;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;

}

.loginbtn:hover {
    background-color: white;
    border-radius: 21px;
    color: black;
    font-weight: bold;
    width: 80px;
    cursor: pointer;
    /* hover property is not exactly same as original website */
    font-size: 17px;
}

.playbar {
    position: fixed;
    bottom: 30px;
    background-color: #dad5d5;
    padding: 12px;
    min-height: 40px;
    width: 69vw;
    /* width: calc(90vw-10px); */
    filter: invert(1);
    border-radius: 10px;
}

.songbuttons {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.songList {
    height: 640px;
    overflow: auto;
    margin-bottom: 44px;
}

.hamburger {
    display: none;
}

.hamburgerContainer {
    justify-content: center;
    align-items: center;
    gap: 14px;
}

.songList ul {
    padding: 0 12px;
}

.songList ul li {
    list-style-type: decimal;
    display: flex;
    justify-content: space-between;
    gap: 12px;
    cursor: pointer;
    padding: 12px 0;
    border: 1px solid white;
    margin: 12px 0;
    padding: 13px;
    border-radius: 5px;
    /* font-size: 12px; */
}

.songList .info {
    font-size: 12px;
    width: 200px;
}

.playnow {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1px;
}

.playnow span {
    font-size: 14px;
    padding: 12px;
    width: 64px;
}

.seekbar {
    height: 4px;
    width: 98%;
    /* width: calc(100vw-70px); */
    background: black;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    margin: 5px;
    cursor: pointer;
}

.circle {
    width: 10px;
    height: 10px;
    border-radius: 15px;
    background-color: black;
    position: relative;
    bottom: 3px;
    left: 0%;
    transition: left;
}

.aboveSeekbar {
    display: flex;
    justify-content: space-between;
    margin: 20px;


}

.songInfo {
    color: black;
    padding: 0 12px;
    width: 250px;
    word-break: break-all;
}
.songTime{
    color: black;
    padding: 0 12px;
    width: 125px;
}
.volume{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 12px;
    cursor: pointer;
}
.range input{
    cursor: pointer;
}

.songbuttons img {
    cursor: pointer;
}


@media (max-width: 1200px) {
    .left {
        background-color: black;
        position: absolute;
        left: -110%;
        transition: all 0.3s;
        z-index: 1;
        width: 380px;
        padding: 0;
    }

    .left .close {
        position: absolute;
        top: 30px;
        right: 30px;
    }
    .timevol{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        gap: 13px;
    }

    .right {
        width: 100%;
        margin: 0;
    }

    .playbar {
        width: 88vw;
        /* width: calc(100vw-75px); */
    }
    .songInfo, .songTime{
        /* width: 100%;
        justify-content: center;
        align-items: center; */
        width: auto;
    }
    .info div{
        word-break: break-all;
    }

    .seekbar {
        width: 90%;
        /* width: calc(100vw-70px); */


    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .card {
        width: 40vw;
    }

    .cardContainer {
        margin: 0;
        justify-content: center;
    }

    .close {
        display: block;
    }

    .aboveSeekbar {
        flex-direction: column;
        gap: 20px;
        align-items: center;

    }

}
@media (max-width: 400px){
.card{
    width: 80vw;
}
.buttons{
    align-content: space-around;
    gap: 4px;
    display: flex;

}
.signupbtn{
    font-size: 13px;
}
.loginbtn{
    padding: 6px;
    font-size: 13px;
}
.cardContainer{
    max-height: 50vh;
}
} 